//Colors
$primary: #000;
$secondary: #fff;
$tertiary: rgb(121, 121, 121);

//Breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

//Fonts
$small: 12px;
$medio: 22px;
$big: 50px;

//Paddings
$padd-sm: 5%;
$padd-md: 10%;